<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="az table">
    <meta name="author" content="wactbprot">
    <title>repl graph</title>

    <!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet" >
<link href="../css/datatables.min.css" rel="stylesheet">

<style>
  body {
      color: #d3d3d3;
      font: 12pt arial;
      background-color: #222222;
  }
  #net {
      width: 1400px;
      height: 900px;
      border: 1px solid #444444;
      background-color: #222222;
  }
</style>

<link rel="shortcut icon" href="../logo/favicon.ico">
  </head>
  <body class="d-flex flex-column h-10">
    <header>
      <nav class="navbar navbar-expand-md">
      </nav>
    </header>
    
    <main role="main" class="flex-shrink-0">
      <div id="net" class="container-fluid">
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">.</span>
  </div>
</footer>

<script type="text/javascript" charset="utf8" src="../js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="../js/popper.min.js"></script>
<script type="text/javascript" charset="utf8" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="../js/vis-network.min.js"></script>
<script type="text/javascript" charset="utf8">
   var nodes = new vis.DataSet([
     {% for node in nodes %}
     {id: {{node.id}}, label: "{{node.label}}" , group: "{{node.group}}" },
     {%endfor%}
   ]);

  var edges = new vis.DataSet([
     {% for edge in edges %}
     {from: {{edge.from}}, to: {{edge.to}} ,  arrows:"{{edge.arrow_type}}" , shadow: { color: "#FF9900" }},
     {%endfor%}
   ]);
  var container = document.getElementById('net');
  var data = {
        nodes: nodes,
        edges: edges
    };
  
   var options = {
    edges: {
      smooth: false
    },
    groups: {
      server: {
        shape: "box",
        color: "#FF9900" 
      },
    db: {
        shape: "box"
      }}}
    // initialize your network!
   var network = new vis.Network(container, data, options);

 </script>
</body>
</html>
